mixin cell(title, text, icon, href)
    li
        a(title=title, href=href)
            div.cell-icon-container
                span(class=`fa fa-fw ${icon}`, aria-hidden="true") 
            div.cell-text #{text}

mixin collapsible(title, icon, target_id, items)
    li.collapsed(data-toggle="collapse", data-target=`#${target_id}`)
        a(title=title, href="javascript:void(0);")
            div.cell-icon-container
                span(class=`fa fa-fw ${icon}`, aria-hidden="true")
            div.cell-text #{title}
            span.arrow(aria-hidden="true")
    ul(id=target_id, class="sub-menu collapse")
        each item in items.length ? items : []
            li
                a(title=item[0], href=item[1]) #{item[0]}

div
    nav
        #sidebar(role="navigation")
            // Add skip button for users with screen readers
            a.sr-only.sr-only-focusable(href="#body-container") Skip to main content
            // https://www.codeply.com/go/RmXlEZfi8z

            .brand
                a(href="/index.html") Jonathan Cole
            div.fa.fa-bars.fa-2x.toggle-btn(role="button", tabindex="0", data-toggle="collapse", data-target="#sidebar-cells")
            #sidebar-cells.collapse.out
                ul
                    +cell("Home", "Home", "fa-home", "/index.html")
                    +cell("About Me", "About", "fa-user", "/about.html")
                    +cell("GitHub", "GitHub", "fa-github-square", "https://www.github.com/colejd")

                    -
                        var project_cells = [
                            ["Media Ecology Project", "/pages/media-ecology/"],
                            ["Guify", "/pages/guify/"],
                            ["Reaction-Diffusion", "/pages/reaction-diffusion/"],
                            ["Jon Trombone", "/pages/jon-trombone/"],
                            ["Dust", "/pages/dust/"],
                            ["Mazer", "/pages/mazer/"]
                        ]
                    +collapsible("Projects", "fa-code", "projects-section", project_cells)

                    -
                        var unity_cells = [
                            ["Buoy Data Visualization", "/pages/lobo/"],
                            ["Reflector", "/pages/reflector/"]
                        ]
                    +collapsible("Unity", "fa-gamepad", "unity-section", unity_cells)

                    -
                        var article_cells = [
                            ["Spurious (Spatial) Correlations", "/pages/spurious-spatial-correlations/"]
                        ]
                    +collapsible("Articles", "fa-file-text-o", "articles-section", article_cells)
                    
